@import url('https://fonts.googleapis.com/css?family=Oswald');
.slider-tours
{
	padding: 7% 0 4%;
    background: url(../img/bg-breadcrumb.jpg) center center no-repeat;
    background-size: auto;
/*    background-size: cover;*/
}
nav
{
	border-bottom: none !important;
}
.box-tour
{
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 0 0 24px 0;
	padding: 8px;
}
.box-tour h1
{
	font-size: 1.7rem;
	text-transform: uppercase;
	color: #339966;
	font-family: 'Oswald', sans-serif !important;
} 
.box-tour h3
{
  font-family: 'Oswald', sans-serif !important;
/*  color: #145db0;*/
color: #ed8a1b;
text-shadow: 1px 1px 1px #4a3f3f;

}
.container-aside h3
{	
	color: #222;
}
.container-aside h3 ::before
{
		content: "";
		height: 22px;
		width: 3px;
		background: #66bb6a;
		display: inline-block;
		margin-right: 5px;
		vertical-align: top;
		margin-top: 5px;
}
.container-aside .list-group-item
{
	padding: 0.5rem 1.25rem;
}
.list-group-item small {
    float: right;
}
.list-group-flush a
{
	color: #666 !important;
}
.list-group-flush a:hover
{
	color: #000 !important;
}
.breadcrumb
{
	background-color: transparent;
}
.breadcrumb a
{
	color: #fff !important;
}
.breadcrumb-item::before
{
	/*content: "" !important;*/
  color: #fff !important;
}
.slider-t .carousel-item
{
	min-height: auto !important;
}
.table-lares
{
  max-width: 600px;
  margin:0 auto;
}
.table-lares td {
    color: #148314;
    font-weight: 600;
}
.avai
{
	font-family: 'Oswald', sans-serif !important;
	background-color: #148314;
}
.orang
{
  color: #ff6600 !important;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.table-lares tr td:nth-child(2) {
  color: #333399;
}
/*tabs tours*/

ul.resp-tabs-list {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
/*  font-weight: 600;*/
  font-size: 13px;
  display: inline-block;
  padding: 12px 13px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  font-family: 'Montserrat', sans-serif !important;
color: #216096;
border-top: 1px solid #c1c1c1;
border-right: 1px solid #c1c1c1;
border-left: 1px solid #c1c1c1;
 border-radius: 5px 5px 0px 0px;
 margin: 0 2px;
}

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
  margin-left: 2px;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 12px 14px 14px 14px !important;
  border-radius: 5px 5px 0px 0px;
  color: #363636 !important;
}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #c1c1c1; }

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #DBDBDB !important; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}

.resp-tabs-container h2
{
  font-size: 1.5rem;
  /*color: #339966;*/
  color: #474747;
    font-family: 'Oswald', sans-serif !important;
}
.resp-tabs-container h3
{
  font-size: 1.3rem;
  color: #339966;
    font-family: 'Oswald', sans-serif !important;
    background-color: #f9f9f9;
padding: 3px;
border-bottom: 1px solid #e3dede;
border-right: 1px solid #e3dede;
margin-top: 15px;
text-shadow: none !important;
}

.resp-tabs-container h4
{
  font-family: 'Oswald', sans-serif !important;
  font-size: 1.3rem;
    color: #339966;

}

.check > li::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    float: left;
    padding-right: 5px;
    
}
.nocheck > li::before {
    content: '\f00d';
    font-family: 'FontAwesome';
    float: left;
    padding-right: 5px;
}
.resp-tab-content ol li, .resp-tab-content ul li
{
  margin: 2px 0px;
}
.gallery img
{
  margin: 2px 0px;
}
/*end tabs*/