
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

body
{
	font-family: 'Roboto', sans-serif;	
	font-size: .9rem;
  color: #666;
}
@media (min-width:1200px){.container{max-width:1200px}}

a{color: #66bb6a !important;}
a:hover
{color: #325c36; text-decoration: initial;}

/*header*/
.top-nav
{background-color: #1c2837;}

nav
{
   border-bottom: 1px solid #cfcfcfb3;
}
.top-nav a,.fa-envelope-o, .fa-phone
{	
 font-size:.8rem !important;
}

.top-nav .fa
{
color: #fff;
font-size: 1.3rem;
padding: 0 .2rem;
}
.menu > .container
{
	transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    background: #fff;
    z-index: 200;
}
/*end header*/

/*menu hover*/
.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition!important;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}


/*.mainmenu a,*/
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    display: block !important;
}
.mainmenu .active a,
.mainmenu .active a:focus,
.mainmenu .active a:hover,
.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav>.show>a,
.navbar-default .navbar-nav>.show>a:focus,
.navbar-default .navbar-nav>.show>a:hover {
    color: #fff !important;
    background-color: #66bb6a;
    outline: 0;
}
.navbar-nav li a
{
  color:#353030 !important;
}
.navbar-light .navbar-toggler{
    padding: 0;
}
.navbar-light .navbar-toggler .fa-bars{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
}
.only-mobile{
    display: none;
}
.only-desktop{
    display: block;
}

/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a {
    background-color: #66bb6a;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.mainmenu .collapse ul ul > li:hover > a
/*.navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:hover*/ {
    background-color: transparent;
    color: #2cae44 !important;
}
.mainmenu .collapse ul ul ul > li:hover > a {
    background-color: #0f3c9e;
}
.mainmenu .collapse ul ul,
.mainmenu .collapse ul ul.dropdown-menu {
   /* background-color: #131d33;*/
}
.mainmenu .collapse ul ul ul,
.mainmenu .collapse ul ul ul.dropdown-menu {
    background-color: #131d33
}
.mainmenu .collapse ul ul ul ul,
.mainmenu .collapse ul ul ul ul.dropdown-menu {
    background-color: #131d33
}

.dropdown-menu > li {
    padding: 4px 0px !important;
    border-bottom: 1px dotted gray;
}


/******************************Drop-down menu work on hover**********************************/
.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
   /* width: 100%;*/
}
@media only screen and (min-width: 767px) {
    /* Level 1 */
    .mainmenu .collapse ul ul {
        position: absolute;
        top: 80px;
        left: 0;
        min-width: 250px;
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }
    .mainmenu .collapse ul li:hover> ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }

    /* Level 2 */
    .mainmenu .collapse ul ul li {
        position: relative;
    }
    .mainmenu .collapse ul ul ul {
        position: absolute;
        top: 0;
     /*   left: 120%;*/
/*        min-width: 250px;*/
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }
    .mainmenu .collapse ul ul li:hover> ul {
        visibility: visible;
        opacity: 1;
        top: 0;
        left: 100%;
    }
    .mainmenu .collapse ul ul li a .fa-angle-right{
        position: absolute;
        right: 20px;
        top: 20px;
    }


    /* Level 3 */
    .mainmenu .collapse ul ul ul li {
        position: relative
    }
    .mainmenu .collapse ul ul ul ul {
        position: absolute;
        top: 0;
        left: -120%;
        min-width: 250px;
        display: block;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }
    .mainmenu .collapse ul ul ul li:hover ul {
        visibility: visible;
        opacity: 1;
        top: 0;
        left: -100% !important;
    }
    
}
@media only screen and (max-width: 767px) {
    .only-mobile{
        display: inline-block;
    }
    .only-desktop{
        display: none;
    }
    /*.navbar-nav .show .dropdown-menu .dropdown > li > a{        
        background-color: #fff;
    }*/
    .mainmenu .collapse ul ul > li.dropdown > a,
    .mainmenu .collapse ul ul > li.dropdown > ul.dropdown-menu > li.dropdown > a{
        background-color: #0f3c9e;
        padding: 16px 15px 16px 15px;
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a,
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a,
    .navbar-nav .show .dropdown-menu > li > a {
        padding: 16px 15px 16px 35px;
        background-color: #202e4c;
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a:hover,
    .navbar-nav .show .dropdown-menu > li > a:hover{
        background-color: #0f3c9e;
    }


    /* Level 1 mobile arrow */
    .mainmenu ul li a .fa-angle-down{
        position: absolute;
        right: 15px;
        top: 15px;
        width: 25px;
        height: 25px;
        background-color: #fff;
        color: #0f3c9e;
        text-align: center;
        line-height: 25px;
    }
}

/*slider*/

.carousel-item {
  /*height: 100vh;*/
  min-height: 550px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption span {
    background-color: #66bb6a;
    padding: 8px;
    font-size: 2rem;
    float: left;
    font-weight: 600;
}
.carousel-indicators-numbers li {
  text-indent: 0;
  margin: 0 2px;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 100%;
  line-height: 30px;
  color: #fff;
  background-color: #999;
  transition: all 0.25s ease;
}
.carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover {
  margin: 0 2px;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

/*body*/
h1, .title-home{
	font-family: 'Montserrat', sans-serif !important;
}
.box-home
{
	position: relative;
}
.text-box {
    position: absolute;
    bottom: 30px;
    left: 0px;
    background-color: #999;
    padding: 4px 10px;
    color: #fff;
}
.box-home h2
{
	font-family: 'Montserrat', sans-serif !important;
}
.box-home h2:hover, .related a:hover span
{
	color: #66bb6a  !important;
}

.owl-nav {
    position: absolute;
    top: -45px;
    right: 45px;
}


/*aside*/
.box-social .fa {
  padding: 20px;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #fff !important;
}

.box-social .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}


.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.tabs .nav-link.active
{
	background-color: #66bb6a !important;
	color: #fff !important;
	font-family: 'Montserrat', sans-serif !important;
}
.nav-pills .nav-link
{
	background-color: #e7e7e7;
	color: #3b3939 !important;
	font-family: 'Montserrat', sans-serif !important;
}
.media h5
{
	font-size: .8rem;
	color: #5d5a5a;
	margin-bottom: 0;
}
.text-black
{
	color: #000 !important;
}
/*end aside*/
/*end body*/


/*footer*/

.footer-top
{
  background: url('../img/bg-footer.jpg') no-repeat 0 0;
  background-size: cover;
}
.fa.fa-whatsapp {

    font-size: 1.8rem;
    background-color: #31b365;
    border-radius: 50%;
    margin: 0px 5px;
}
.block-footer.social .fa
{
font-size: 1.8rem;
border-radius: 50%;
height: 43px;
width: 43px;
padding-top: 6px;
}
/*end footer*/
/*
// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

 .carousel-item
 {
  min-height: 300px;
 }

 .menu > .container {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    background: #fff;
    z-index: 200;}

.item {
    margin: 0 5px;
}
 }

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  }
/*
// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { }
/*
// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { }